@media print {
    nav, .shortcuts, #shortcuts {
        display: none;
    }

    main {
        border-top: 1px solid #111;
    }

    .btn {
        border: 1px solid currentColor;
    }
}

.no-break {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid;                /* IE 11 */
    display: table;                     /* Actually FF 20+ */
    width: 100%;
  }
  